.details-container{
    background: var(--existential-angst);
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
}

.back-button-wrapper{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}
