.extra-detail-container {
    color: #fff;
    margin: 35px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.extra-detail-box {
    display: flex;
    gap: 5px;
}

.extra-detail-box span:first-child {
    text-transform: capitalize;
}

.extra-detail-box span:last-child {
    color: #ffe81f;
}

@media (max-width: 900px) {
    .extra-detail-container {
        flex-direction: column;
        align-items: center;
    }
}
