.search-detail-card-section-container {
    background: #ffe81f;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: rgb(9 9 11);
    max-height: 900px;
    position: relative;
    margin: 15px 0;
    transition: height 0.3s ease;
}

.search-detail-card-section {
    overflow: hidden;
}

.search-detail-card-section-container__wrapper {
    width: 90%;
    gap: 5px;
    /*background-color: chocolate;*/
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

.id-box {
    /*background-color: white;*/
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.id-box__number {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ffe81f;
}

.search-detail-card-content-box {
    /*background: red;*/
    flex: 5;
    text-transform: capitalize;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-detail-card-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.search-detail-card-action-box {
    /*background: blue;*/
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-red {
    background-color: #ffe81f;
}

.search-detail-card-action-btn {
    border: none;
    border-radius: 7px;
    cursor: pointer;
    height: 40px;
    width: 90%;
    transition: all .3s ease-in-out;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.search-detail-card-action-btn:hover {
    animation: jello-horizontal .9s linear both;
}

.search-detail-card-section-container:not(.reverse):before {
    content: "";
    height: 40px;
    width: 30px;
    left: -10px;
    top: 20px;
    position: absolute;
    background-image: url("../../../assets/images/png/snowflake-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.search-detail-card-section-container.reverse:after {
    content: "";
    height: 40px;
    width: 30px;
    right: -10px;
    top: 20px;
    position: absolute;
    background-image: url("../../../assets/images/png/snowflake-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.search-detail-card-section-container__details {
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    /*position: absolute;*/
    bottom: 0;
    max-height: 500px;
    display: flex;
    gap: 10px;
    transform: translateY(100%);
    display: flex;
    overflow-y: auto;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    /*display: none;*/
    /*visibility: hidden;*/
}

.detail-show-box {
    visibility: visible;
    animation: slide-top 0.4s linear both
}

.d-none {
    display: none;
}

.out-anim {
    animation: slide-down 0.4s linear both
}

.search-detail-card-section-container__details__key {
    color: #ffe81f;
    padding: 10px 10px;
    font-weight: 600;
    font-size: .8rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 5px;
}

@keyframes slide-top {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-100%)
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(100%)
    }
}

.search-detail__box {
    background-color: #000000;
    padding: 10px;
    width: 200px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    border-radius: 7px;
}

.search-detail__key {
    /*background: chocolate;*/
    text-transform: capitalize;
    text-decoration: underline;
    color: white;
    text-decoration-color: #ffe81f;
    text-decoration-thickness: 2px;
    font-size: 1rem;
}

.search-detail__value {
    word-break: break-word;
    /*background: #baecd2;*/
    color: rgba(255, 255, 255, 0.44);
    font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
    .search-detail-card-section-container__details{
        width: 80%;
        margin: 0 auto;
    }
    .search-detail-card-section-container {
        flex-direction: column;
        height: auto;
    }

    .search-detail-card-section-container__wrapper {
        flex-direction: column;
    }

    .id-box {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }

    .search-img {
        height: 150px;
        width: 150px;
    }

    .card-img-box {
        width: 100%;
        height: 150px;
    }

    .search-detail-card-content-box {
        margin-top: 10px;
    }
}

