.loading-container {
    /*    background: red;*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-animetion-box {
    /*    background: purple;*/
    height: 500px;
}

@media (max-width: 900px) {
    .loading-animetion-box {
        /*    background: purple;*/
        height: 80vh;
    }
}