.carousel-container {
    /*background: blue;*/
    height: 500px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0;
    display: flex;
    justify-content: center;
}
.carousel-container >div:nth-child(2){
    width: 80%;
    margin: 0 auto;
}
.carousel-container:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
}

.video-container {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-carousel-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
@media (max-width: 900px) {
    .carousel-container {
        height: 75vh;
    }
}
