.empty-block-box {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.28);
    background: rgb(9 9 11);
    border-radius: 7px;
    margin: 20px auto;
}

.search-rules {
    height: 40vh;
    border-radius: 7px;
    margin: 20px auto 20px;
    background: rgb(9 9 11);
    color: rgba(255, 255, 255, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-rules__description {
    font-size: 1rem;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
    text-align: center;
}

@media (max-width: 900px) {
    .search-rules__description {
        font-size: .8rem;
    }
}
