footer {
    box-sizing: border-box;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(31, 31, 31, 0.22);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info-title {
    font-size: 18px;
    color: #ffe81f;
    font-weight: bold;
}

.footer-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-wrapper > div > ul {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.logo-and-slogan-box {
    /*background: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.logo-and-slogan-box > span {
    color: rgba(255, 255, 255, 0.42);
    margin-top: 10px;
}

@media (max-width: 900px) {
    .footer{
        height: auto;
        padding: 30px;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .logo-and-slogan-box{
        margin-bottom: 30px;
    }
}
