@import './reset.scss','./normalize.scss','./root.scss';

html {
    font-family: 'Poppins', sans-serif;
}

*{
    outline: none !important;
}

body {
    background-color: #000;
}
/* default dark scroll bar */
::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, .2);
    border-radius:0px;
    transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.35);
}






