:root {
    --yellow: rgb(255, 232, 31);
    --dark: rgb(0, 0, 0);
    --light-dark: rgb(9, 9, 11);
    --light: rgb(255, 255, 255);
    --light-white: rgba(255, 255, 255, 0.71);
    --extra-light-white: rgba(255, 255, 255, 0.28);
    --extra-extra-white: rgba(255, 255, 255, 0.09);
}
